<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur s'est produite: {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset ('Resources/TwigBundle/views/css/error.css') }}">
</head>
<body>
<h1>Oops! Une erreur s'est produite</h1>
<h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>

<div>
    Quelque chose s'est passé. Si vous le souhaitez vous pouvez nous envoyer un e-mail à bonetaurelie@gmail.com. Nous réparerons cette erreur aussi vite que possible.
    Nous nous excusons pour le désagrément causé.
</div>
</body>
</html>