# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     eu-cdbr-west-01.cleardb.com
    database_port:     ~
    database_name:     heroku_ab12e46910f7fec
    database_user:     b8991113a01b36
    database_password: 8991c621
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       mailtrap.io
    mailer_user:       abf0ec66a5c73b
    mailer_password:   308abec85b0129

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    stripe_secret_key: sk_test_gUDd5mHdcXGQoxBmsBxgEXvN
    stripe_public_key: pk_test_NHnOC4NL0JVZGhMuDumzLF0x
    stripe_api_base: "https://api-tls12.stripe.com"
    secure_channel: http