body{
    font-family: 'Arvo-Regular';
}

@font-face {
    font-family: 'Arvo-Regular';
    src: url('Arvo-Regular.ttf');
}

/*menu*/
#navbar{
    margin-top: 10px;
}

.navbar-brand{
    margin-top: -13px;
}

.nav .fr {
    margin-right: 20px;
}

/*index*/
.index{
    padding-top: 200px;
}

.index a{
    text-decoration: none;
    color: #AA1111;
}

p{
 margin-top: 100px;
}

/*reservation*/
.form{
    margin-top: 150px;
}

.form2{
    padding-top: 50px;
}

/*message checkbox*/
.help p {
    margin-top: 0px;
}

/*formulaire visiteur*/
.list ul li{
    list-style-type: none;
}

.list ul{
    list-style-type: none;
}

.list li{
    list-style-type: none;
}

/*paiement*/
.payment{
    margin-top: 150px;
}
