body{
    font-family: 'Arvo-Regular';
}

@font-face {
    font-family: 'Arvo-Regular';
    src: url('Arvo-Regular.ttf');
}

/*menu*/
#navbar{
    margin-top: 10px;
}

.navbar-brand{
    margin-top: -13px;
}

.nav .fr {
    margin-right: 20px;
}

/*index*/
.index{
    padding-top: 200px;
}

.index a{
    text-decoration: none;
    color: #AA1111;
}

p{
 margin-top: 100px;
}