<p>Bonjour,</p>

<p>Suite à votre réservation en ligne sur le site du musée du Louvre, veuillez trouver en pièce jointe votre ou vos billet(s)</p>
<p>Dans l'attente de vous revoir sur notre site,<br/>
<p>Le musée du Louvre</p>