
{% extends 'ABCoreBundle::layout.html.twig' %}

{% block body %}
    <div class="index">
        <h1 class="text-center">Bienvenue sur le site du musée du Louvre</h1>
        <p class="text-center">Grâce à cette application en ligne de billets pour visiter le musée, vous allez pouvoir planifier en toute sérénité votre visite mais aussi éviter les longues files d'attente à l'entrée du musée.<br/><br/>
            Pour réserver, <a href="{{ path('ab_core_reservation') }}">cliquez ici...</a></p>
    </div>
{% endblock %}