{% extends 'ABCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - paiement
{% endblock %}

{% block body %}

    <div class="payment">
        <h1 class="text-center">Choisissez votre mode de paiement</h1>
    </div>


{% endblock %}